.blocks{    
	display: inline-block;
    width:960px;
    height:362px%;  
     margin: 1em;
}
.tile {

  width: 200px;
  height:150px;
  margin: 1em;
  }
  .tilerow{  
  display: inline-block;  
    width:960px;
    height:181px;  
}
.flippy {
      /**/-moz-transform:scale(1,1);-webkit-transform:scale(1,1);
    transform:scale(1,1);
    /**/-webkit-transition:all 600ms ease;-webkit-transition:all 600ms ease;
    transition:all 600ms ease; }
    .flippy[flipped] {
        /**/-moz-transform:scale(-1,1);-webkit-transform:scale(-1,1);
        transform:scale(-1,1); 
}
#images {

  width: 200px;
  height:150px;
  margin: 1em;
  }

